@import url(./__text/footer__text.css);

.footer {
  width: 68.90625%;
  max-width: 1200px;
  min-width: 300px;
  margin: 66px auto 0;
  padding-bottom: 60px;
}

@media screen and (max-width:1023px) {
  .footer {
      width: 88.125%;
      padding-bottom: 36px;
      margin-top: 48px;
   } 
} 