.profile__edit-button-icon {
  margin: auto;
  width: 10px;
  height: 10px;
}

@media screen and (max-width:1023px) {
  .profile__edit-button-icon {
    width: 7.5px;
    height: 7.5px;
    margin: auto;
   } 
}